body {
   background-color: yellow;
}

.container {
   width: 500px;
   margin: auto;
   margin-top: 250px;
   background-color: snow;
   border: 1px solid green;
}
.world {
   position: relative;
   left: 30%;
}